
data/
logs/

VanillaVAE/version_0/

__pycache__/
.ipynb_checkpoints/

Run.ipynb

# Pycharm
.idea/

venv/

# Ignore local configs, makes it easier to have local paths to the dataset (for debugging etc.)
configs/local_*

# Testing scripts
test.py
